.container-products{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
}

.product{
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    position: relative;
}

.product:before{
    content: "Nuevo";
    background-color: rgb(245, 160, 234);
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: whitesmoke;
}

.product__tittle{
    text-align: center;
    font-weight: normal;
}

.product__price{
    color: rgb(128, 128, 128);
    font-weight: bold;
}

.product__icon{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.product__icon:hover{
    color: #f56b99;
}

.product__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media screen and (min-width: 1024px){
    .container-products{
        grid-template-columns: repeat(4,1fr);
        grid-gap: 15px;
    }

    .product__img{
        height: 300px;
    }
}

@media screen and (min-width: 1600px){
    .product__img{
        height: 400px;
    }
}
