.main-footer{
    background-color: #151515;
    color: whitesmoke;
    padding: 30px 20px;
    font-size: 0.8em;
}

.footer__txt{
    color: rgb(114, 113, 113);
    border-bottom: 1px dotted rgba(114, 113, 113, 0.4);
    padding-bottom: 20px;
}

.footer__link{
    color: rgb(114, 113, 113);
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.footer__tittle{
    border-top: 1px dotted rgba(114, 113, 113, 0.4);
    padding-top: 20px;
}

.copy{
    color: #6b6767;
}

@media screen and (min-width:1024px){
    .main-footer{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
    }

    .copy{
        grid-column-start: span 4;
        text-align: right;
    }
}