.container-products{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    max-width: 700px;
}

.product{
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    position: relative;
}

.product:before{
    content: "Nuevo";
    background-color: rgb(245, 160, 234);
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: whitesmoke;
}

.product__tittle{
    text-align: center;
    font-weight: normal;
}

.product__price{
    color: #f56b99;
    font-weight: bold;
}

.product__icon{
    display: block;
    margin-top: 10px;
}

.product__img{
    width: 100%;
    height: 330px;
    object-fit: cover;
}
